.landing-page {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #223a51;
  z-index: 0;
  .landing-page-img,
  .landing-page-overlay {
    width: 100vw;
    height: 200vh;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }
  .landing-page-img {
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 200vh;
    background-image: url('./bg-imgs/WhatsApp Image 2022-12-04 at 18.51.39.jpeg');
  }
  .landing-page-overlay {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background: rgba(12, 32, 51, 0.774);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
  }
  .company {
    position: absolute;
    z-index: 2;
    left: 61px;
    top: 179px;
    font-family: 'Inter';
    font-weight: 800;
    text-align: left;
    color: #ffffff;
  }
  .company-name {
    z-index: 2;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 96px;
    line-height: 116px;
  }
  .tag-line{
    position: relative;
    font-weight: 200;
    top:-4rem;
    font-size: 20px;
    left:1rem;
  }
}
