nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 286px;
    height: 39px;
    left: 90px;
    top: 65px;
    a {
    text-decoration: none;
    color: #ffffff;
    font-family: "San-serif";
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 39px;
  }
}