.profile-page {
  height: 100vh;
  // overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  .user-div {
    width: 40rem;
    height: 30rem;
    background: #004748a6;
    box-shadow: inset 0px 0px 5px 11px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(7.5px);
    border-radius: 101px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      color: white;
      font-size: 1.2rem;
      input::placeholder {
        font-size: 1.2rem;
      }
    }
    .button-div {
      button {
        border: none;
        color: white;
        padding: 1rem 2rem;
        margin: 1rem;
        border-radius: 18px;
      }
      .change-password {
        background: #151057;
        box-shadow: inset 0px 0px 10px 10px rgba(6, 22, 64, 0.5);
      }
      .delete-profile {
        background: #571010;
        box-shadow: inset 0px 0px 10px 10px rgba(64, 6, 27, 0.5);
      }
    }
  }
}

#user-cargos {
  width: 100vw;
  height: 100vh;
  padding: 4rem 3rem 0 0;
  z-index: 1;
  .ship-card {
    z-index: 2;
    .ship-details {
      div {
        p {
          margin: 0.4rem 0 0 0;
          padding: 0;
        }
      }
    }
  }
}

.page-scroller {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 5vw;
  top: 60vh;
  padding: 0.3rem;
  z-index: 4;
  min-width: 2rem;
  height: 6rem;
  border: 1px;
  border-style: solid;
  border-radius: 1.5rem;
  border-color: rgba(236, 236, 236, 0.795);
  // a
   button{
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    div {
      min-width: 1rem;
      min-height: 1rem;
      background-color: rgb(79, 187, 250);
      margin: 1rem 0;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .scrollers{
        color: #fff;
        font-size: 1.7rem;
      }
    }
  }
}
