.cargo-ships-page {
  height: 79.7vh;
  overflow-y: scroll;
  z-index: 0;
  display: flex;
  flex-direction: row;
  padding: 4rem;
  .ship-card {
    max-height: 50vh;
    margin: 2rem 1.5rem 0 1.5rem;
    z-index: 1;
    * {
      cursor: pointer;
    }
    .ship-img-div {
      width: 17rem;
      height: 13rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 39px;
      z-index: 3;
      filter: brightness(0.6);
      &.active{
        p {
        transform: scale(0);
        visibility: hidden;
      }}
      p {
        visibility: visible;
        transform: scale(1);
        font-size: 1.4rem;
        color: rgb(255, 255, 255);
        transition: 0.9s;
        opacity: 1.2;
      }
    }
    .ship-details {
      z-index: -1;
      height: 0rem;
      transition: 0.2s;
      div {
        display: none;
      }
      button {
        margin-top: 0.4rem;
        border: none;
        border-radius: 0.7rem;
        padding: 0.4rem 1rem;
      }
      &.active {
        margin-top: -2.5rem;
        padding-top: 4rem;
        width: 17rem;
        height: fit-content;
        position: relative;
        padding: 2rem 0rem;
        z-index: -1;
        border-bottom-right-radius: 39px;
        border-bottom-left-radius: 39px;
        background: linear-gradient(
          25deg,
          rgba(10, 28, 62, 1) 0%,
          rgba(45, 132, 149, 1) 100%
        );
        text-align: center;
        box-shadow: 6px 6px 33px #2e6f8b, -6px -6px 33px #327997;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        div {
          display: flex;
          // justify-content:space-between;
          // align-items:flex-start;
          p {
            margin: 0.6rem 0.2rem 0rem 0;
            padding: 0.6rem 0.2rem 0rem 0;
            color: white;
            display: inline-flex;
            strong {
              color: #20738f;
            }
          }
        }
      }
    }
  }
}
