@import './pages_scss/login';
@import './pages_scss/nav';
@import './pages_scss/landingpage';
@import './pages_scss/profilepage';
@import './pages_scss/shipspage';
@import './pages_scss/booking';
@import './pages_scss/bio';

.App {
  background-color: #223a51;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

.custom-cursor {
  position: absolute;
  transition: 0.01s;
  border-radius: 50%;
  border-color: #1b97a7b2;
  border-style: solid;
  z-index: 10;
  pointer-events: none;
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    border-radius: 50%;
    // z-index: 10;
    width: 1rem;
    height: 1rem;
    background-color: #00b7ff88;
    content: '';
    position: absolute;
    border-radius: 50%;
    z-index: 0;
  }
}

.login-div,
.signup-div,
.bio-div {
  background-image: url('./bg-imgs/pexels-matthis-volquardsen-2091159.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* GOOD-WILL CARGO */

.main-input-div {
  width: 40rem;
  height: 30rem;
  background: rgba(5, 25, 37, 0.65);
  box-shadow: inset 0px 0px 5px 11px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  border-radius: 101px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    * {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 300;
      font-size: 1.2rem;
    }
    div {
      margin-top: 1rem;
      text-align: center;
      color: #ffffff;
    }

    button {
      padding: 0.4rem 1rem;
      border: none;
      border-radius: 0.6rem;
      background-color: #06274f;
      font-weight: 450;
      color: #ffffff;
    }
  }
}

input {
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  text-align: center;
  padding-bottom: 1rem;
  &::placeholder {
    color: #ffffff;
  }
  &:focus {
    outline: none;
  }
}

.profile-page,
.cargo-ships-page {
  background-image: url('./bg-imgs/pexels-tom-fisk-3840447.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
* {
  transition: 0.7s;
}
